@import '../../variables';

.button {
  @include depth(M);
  background-color: $color__indigo;
  border: none;
  border-radius: 8px;
  color: $color__white;
  cursor: pointer;
  font-weight: bold;
  padding: 16px;
  transition: box-shadow 0.5s;
  min-width: 100px;

  &:hover {
    @include depth(S);
  }
}

.button--positive {
  background-color: $color__pastel-green;
  color: $color__white;
}

.button--negative {
  background-color: $color__chestnut-rose;
  color: $color__white;
}

.button--disabled {
  background-color: $color__dusty-gray;
  color: $color__mine-shaft;
}
